<% @chart_area_arr.each do |chart_area| %>
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Sensor - <%= JSON.parse(chart_area)['device_id'] %></h6>
    </div>
    <!-- Card Body -->
    <%#= content_tag "div", id: "chart-data", data: {foobar: chart_area} %>
    <div class="card-body">
      <div id="chart-<%= JSON.parse(chart_area)['device_id'] %>" class="chart-area" >
        <canvas id="myAreaChart-<%= JSON.parse(chart_area)['device_id'] %>">
        </canvas>
      </div>
    </div>
  </div>
<% end %>

<%= content_tag :div, id: 'data-chart', data: {chartarr: @chart_area_arr} do %>
<% end %>
