<h1>New Blockchain Transaction</h1>

<p style="color: green"><%= notice %></p>

<%= render "form", blockchain_transaction: @blockchain_transaction %>

<br>

<div>
  <%= link_to "Back to Blockchain Transactions", blockchain_transactions_path %>
</div>
